<%
/**
 * [Section] About
 * @param {string} summary Personal summary
 */
%>

<% if (summary) { %>
  <section id="about" class="section">
    <aside class="section-title">
      <h3>About</h3>
    </aside>
    <div class="section-content">
      <p><%= summary %></p>
    </div>
  </section>
<% } %>
