<%
/**
 * @typedef {object} Language
 * @property {string} language Language language
 * @property {string} fluency Language fluency
 *
 * [Section] Languages
 * @param {array.<Language>} languages
 */
%>

<% if (languages && Array.isArray(languages) && languages.length > 0) { %>
  <section id="languages" class="section">
    <aside class="section-title">
      <h3>Languages</h3>
    </aside>
    <div class="section-content">
      <div class="item-row">
        <div class="item-row-split">
          <% languages.forEach((language) => { %>
            <div class="item-split">
              <div class="language"><strong><%= language.language %></strong></div>
              <div class="fluency"><%= language.fluency %></div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>
<% } %>
