<%
/**
 * @typedef {object} Profile
 * @property {string} network Profile network
 * @property {string} username Profile username
 * @property {string} url Profile url
 *
 * [Section] Profiles
 * @param {array.<Profile>} profiles
 */
%>

<% if (profiles && Array.isArray(profiles) && profiles.length > 0) { %>
  <section id="profiles" class="section">
    <aside class="section-title">
      <h3>Profiles</h3>
    </aside>
    <div class="section-content">
      <div class="item-row">
        <div class="item-row-split">
          <% profiles.forEach((profile) => { %>
            <div class="item-split">
              <strong class="network"><%= profile.network %></strong>
              <div class="url">
                <a target="_blank" href="<%= profile.url %>"><%= profile.username || profile.url %></a>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>
<% } %>
