<%
/**
 * @typedef {object} Reference
 * @property {string} reference Reference description
 * @property {string} name Reference author name
 *
 * [Section] References
 * @param {array.<Reference>} references
 */
%>

<% if (references && Array.isArray(references) && references.length > 0) { %>
  <section id="references" class="section">
    <aside class="section-title">
      <h3>References</h3>
    </aside>
    <div class="section-content">
      <% references.forEach((reference) => { %>
        <div class="item-row">
          <p><%= reference.reference %></p>
          <p class="name">
            <strong>— <%= reference.name %></strong></p>
          </p>
          <br>
        </div>
      <% }); %>
    </div>
  </section>
<% } %>
